@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
/* Hero & Header */

.hero {
  background-image: url(../img/Poster.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

header.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 10% 0 10%;
}

.logo {
  display: flex;
}

.nav {
  display: flex;
}

.logos {
  font-size: 24px;
  color: white;
  margin: 5px 10px;
}

.signin {
  font-size: 17px;
  color: white;
  margin: 10px 15px;
}

.img2 {
  height: 37px;
  width: 37px;
  margin: 5px 10px;
}

/* Hero Main */

.main {
  padding: 40px 10% 0 10%;
}

.main * {
  color: white;
  margin: 30px 0 0 0;
}

main .header h1 {
  font-size: 48px;
}


.imd * {
  display: inline-block;
  margin-top: 0px;
}


.imd p {
  margin-left: 10px;
}

.imd .pomodoro {
  margin-left: 35px;
}

.button {
  width: 190px;
  height: 36px;
  background-color: #BE123C;
  border: none;
  border-radius: 6px;
  display: flex;
}

.button .Play {
  margin: 8px 8px 8px 16px;
  width: 20px;
  height: 20px;
}

.button h4 {
  margin: 8px 16px 10px 1px;
}

/* Main */

main  {
  padding: 0 10% 0 10%;
}


main .header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

main .header h1 {
  font-size: 36px;
}

main .header h5 {
  font-size: 18px;
  color: #BE123C;
  margin-top: 10px;
}

.block1, .block2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block1 * {
  margin: 0 1px;
}

.block2 * {
  margin: 0 1px;
}

.block1 figcaption , .block2 figcaption{
  font-size: 12px;
  font-weight: bold;
  color: #9CA3AF;
}

.block3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block3 * {
  margin: 0 1px;
}

.block3 figure {
  margin-top: 55px;
}

.videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 55px;
}

.videos * {
  margin: 0 1px;
}

.score {
  display: flex;
}

.score * {
  margin: 5px 5px 5px 0;
}

.score p {
  font-size: 12px;
  font-weight: 400;
}

.onesec img {
  width: 35px;
  height: 17px;
}

.twosec img{
  width: 16px;
  height: 17px;
}

.score .onesec, .score .twosec {
  display: flex;
}

.block1 figure, .block2 figure {
  margin-top: 55px;
}

/* Footer */

.social {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social * {
  margin: 10px 50px;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.info * {
  font-size: 18px;
  margin: 0 50px;
}

.dopinfo * {
  font-size: 18px;
  text-align: center;
}

.dopinfo {
  margin-top: 50px;
  margin-bottom: 80px;
}

@media (max-width: 575.98px) {
  .signin {
    display: none;
  }
}

@media (max-width: 640.98px) {
  .video1 img, .video2 img{
    width: 100%;
  }

  .block1, .block2, .block3, .videos {
    justify-content: center;
  }
}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {
  .video1 {
    padding-bottom: 10px;
  }
}

@media (max-width: 1454px) {
  .video3 {
    display: none;
  }
}




