@import "./media.css";
@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

/* Hero & Header */

.hero {
  background-image: url(../img/Poster.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

header.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 5% 0 5%;
}

.logo {
  display: flex;
}

.nav {
  display: flex;
}

.logos {
  font-size: 24px;
  color: white;
  margin: 5px 10px;
}

.signin {
  font-size: 17px;
  color: white;
  margin: 10px 15px;
}

.img2 {
  height: 37px;
  width: 37px;
  margin: 5px 10px;
}

/* Hero Main */

.main {
  padding: 40px 5% 0 5%;
}

.main * {
  color: white;
  margin: 30px 0 0 0;
}

main .header h1 {
  font-size: 48px;
}

.main .text p {
  font-size: 14px;
}

.imd * {
  display: inline-block;
  margin: 30px 15px 0 0;
}

.imd {
  margin: 0px;
}

.button {
  width: 190px;
  height: 36px;
  background-color: #BE123C;
  border: none;
  border-radius: 6px;
  display: flex;
}

.button .Play {
  margin: 8px 8px 8px 16px;
  width: 20px;
  height: 20px;
}

.button h4 {
  margin: 8px 16px 10px 1px;
}

/* Main */

main {
  padding: 0 5% 0 5%;
}

main h1 {
  text-align: center;
  margin-top: 40px;
}

.block1, .block2{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,auto));
  align-items: center;
  justify-items: center;
}

.score {
  display: flex;
}

.score * {
  margin: 5px 5px 5px 0;
}

.onesec img {
  width: 35px;
  height: 17px;
}

.twosec img{
  width: 16px;
  height: 17px;
}

.score .onesec, .score .twosec {
  display: flex;
}

.block1 figure, .block2 figure {
  margin-top: 55px;
}

/* Footer */

.social {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social * {
  margin: 10px 50px;
}

.info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.info * {
  font-size: 18px;
  margin: 0 50px;
}

.dopinfo * {
  font-size: 18px;
  text-align: center;
}

.dopinfo {
  margin-top: 50px;
}