@media (max-width: 575.98px) {
  .signin {
    display: none;
  }
}

@media (max-width: 640.98px) {
  .video1 img, .video2 img{
    width: 100%;
  }

  .block1, .block2, .block3, .videos {
    justify-content: center;
  }
}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {
  .video1 {
    padding-bottom: 10px;
  }
}

@media (max-width: 1454px) {
  .video3 {
    display: none;
  }
}